.Header {
  background: #ffffff;
  color: black;
  //border-bottom: 1px solid white;
  box-shadow: 0 5px 0 rgba(0,0,0,0.5);
  //transform: rotateZ(8deg) skew(-2deg, -10deg) translateY(-10%);
  margin: 50px;
}

.Header__body {
  display: flex;
  align-items: center;
}

.Header__title {
  flex: 1;
  padding: 20px 0;
  font-family: "times new roman", times, serif;
  font-style: italic;
}

.Header__summary {
  text-decoration: none;
  color: black;
  text-align: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.Header__summary__line {
  font-size: 0.8em;
}