.snip-layout.snip-layout {
  * {
    font-family: consolas, Menlo, monospace, sans-serif;
  }

  .snip-product__name {
    text-transform: none;
  }

  .snip-header {
    background: #ffffff;
    color: black;
  }

  .snipcart-amount {
    color: white;
  }

  .snip-btn--right {
    background-color: #63c664;
  }

  .snip-layout__main-container {
    border: 2px solid black;
    color: white;
  }

  .snip-header__total {
    border-radius: 0;
  }

  .snip-ico--close {
    color: black;
  }
}

